/*Botón añadir al carrito*/
.add-to-cart-button {
    background-color: #FFBE2D; /* Yellow background color */
    color: #000; /* Blue text color */
    font-size: 15px; /* Adjust font size as necessary */
    padding: 10px 15px; /* Padding for height and width */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center the text */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.add-to-cart-button:hover {
    background-color: #FFB300; /* Darker yellow for hover */
}

/*Botón más información*/
.informacion-button {
    background-color: #44BBA4; /* Green background color */
    color: #000; /* Blue text color */
    font-size: 15px; /* Adjust font size as necessary */
    padding: 10px 15px; /* Padding for height and width */
    border: none; /* No border */
    border-radius: 8px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    text-align: center; /* Center the text */
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

.informacion-button:hover {
    background-color: #3eac96; /* Darker green for hover */
}

/* Responsividad para pantallas medianas */
@media (max-width: 768px) {
  .add-to-cart-button,
  .informacion-button {
    font-size: 14px; /* Reduce font size */
    padding: 8px 12px; /* Adjust padding */
    border-radius: 6px; /* Smaller border radius */
  }
}

/* Responsividad para pantallas pequeñas */
@media (max-width: 480px) {
  .add-to-cart-button,
  .informacion-button {
    font-size: 12px; /* Reduce font size further */
    padding: 6px 10px; /* Smaller padding */
    border-radius: 4px; /* Smaller border radius */
    width: 100%; /* Buttons take full width */
    box-sizing: border-box; /* Ensure padding does not exceed width */
  }
}
