/* Personaliza la posición de los dots */
.slick-dots {
    bottom: -5px; /* Cambia esto para ajustar la distancia desde la parte inferior */
    text-align: center; /* Asegura que estén centrados */
  }
  
  /* Cambia el color y el tamaño de los puntos */
  .slick-dots li button:before {
    font-size: 12px;
    color: #000; /* Cambia el color del punto */
  }
  
  /* Estilo para el punto activo */
  .slick-dots li.slick-active button:before {
    color: #ff4500; /* Color del punto activo */
    opacity: 1;
  }
  /* Estilo para las flechas personalizadas */
.custom-arrow {
    border: none;
    color: #002d85; /* Cambia el color de las flechas */
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.custom-arrow:hover{
  color: #000
}

.slick-prev.custom-arrow {
    left: -25px; /* Ajusta para posicionar la flecha izquierda */
}

.slick-next.custom-arrow {
    right: -25px; /* Ajusta para posicionar la flecha derecha */
}
