footer {
  background-color: #002d85; /* Color de fondo azul */
  color: white; /* Texto en blanco */
  padding: 40px 0;
  text-align: center;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  padding: 20px;
}

.footer-column {
  flex-basis: 30%;
}

.footer-column h4 {
  color: #FFBE2D; /* Títulos en color amarillo */
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-column p, .footer-column ul {
  margin-bottom: 15px;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 8px;
}

.footer-column ul li a {
  color: white; /* Enlaces en blanco */
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-column ul li a:hover {
  color: #FFBE2D; /* Enlaces al pasar el cursor en amarillo */
}

.footer-bottom {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #FFBE2D; /* Línea separadora en amarillo */
}

.footer-bottom p {
  font-size: 14px;
}

footer a {
  color: white;
}

footer a:hover {
  color: #FFBE2D;
}
.titulo-footer{
  margin-right: 10vw;
}