/* Contenedor para formulario de cambio de contraseña */
.formulario-cambio-contra {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

/* Estilos de inputs reutilizados */
.inputForm {
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #073B3A;
    width: 100%;
    font-size: 16px;
    outline: none;
    color: #333;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

.inputForm:hover,
.inputForm:focus {
    border-color: #002d85;
    box-shadow: 0 0 5px rgba(0, 45, 133, 0.5);
}

/* Responsividad */
@media (max-width: 768px) {
    .formulario-cambio-contra {
        width: 50%; /* Ajustar ancho para tablet */
    }
}

@media (max-width: 480px) {
    .formulario-cambio-contra {
        width: 80%; /* Ajustar ancho para dispositivos móviles */
    }

    .inputForm {
        font-size: 14px; /* Reducir tamaño de fuente para pantallas más pequeñas */
    }
}
