/*Enlace reseña*/
.enlaceReseña {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    margin-bottom: 5%;
  }
.enlaceReseña::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width 0.3s ease;
  }
.enlaceReseña:hover::after {
    width: 100%;
  }

/*Card de libro en la página*/
.libro-info{
  margin-top: 2%;
  margin-left: 3%;
  position: relative;
}

.carrusel{
  position: relative;
  margin-top: 10%;
}

/*hr de Mas libros*/
.libro-con-texto {
  display: flex;
  width: 85%;
  position: absolute;
  margin-top: 5%;
  align-items: center;
  border-bottom: 2px solid #ccc; /* Línea inferior */
  margin-left: 35px;
  gap: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  font-family: Arial, sans-serif; /* Ajusta según tu fuente preferida */
}

.libro-con-texto span {
  font-size: 22px;
  color: #333;
}

/*hr de libros agregados*/
.libros-agregados{
  display: flex;
  width: 85%;
  position: absolute;
  align-items: center;
  border-bottom: 2px solid #ccc; /* Línea inferior */
  margin-top: 3%;
  margin-left: 35px;
  gap: 10px;
  padding-bottom: 10px;
  font-size: 32px;
  font-family: Arial, sans-serif; /* Ajusta según tu fuente preferida */
}
.libros-agregados {
  font-size: 22px;
  color: #333;
}

  /* Contenedor principal de los comentarios */
.contenedor-comentarios {
  max-width: 500px; /* Ancho máximo para que no ocupe todo el ancho de la página */
  max-height: auto;
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 30px; /* Espaciado interno */
  background-color: white; /* Fondo ligeramente gris */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
}
/* lista de comentarios */
.comentarios{
  position: relative;
  margin-top: -770px;
  margin-left: 400px;
  margin-bottom: 100px;
}

.contenedor-libro-comentario {
  padding: 5px;
  max-width: 90%;
  min-height: 800px;
  margin: 0 auto;
  border: 1px solid #1a3a8e;
  border-radius: 10px;
  background-color: #ffffff;
  margin-top: 5%;
}



