.libros-compra {
    display: flex;
    width: 85%;
    position: absolute;
    align-items: center;
    border-bottom: 2px solid #ccc; /* Línea inferior */
    margin-top: 3%;
    margin-left: 35px;
    gap: 10px;
    padding-bottom: 10px;
    font-size: 32px;
    font-family: Arial, sans-serif; /* Ajusta según tu fuente preferida */
  }
  .libros-compra {
    font-size: 22px;
    color: #333;
  }

  .contenedor-compras-libros {
    padding: 50px;
    max-width: 80%;
    margin: 0 auto;
    border: 1px solid #1a3a8e;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
  }