.input-busqueda{
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}
.input-busqueda:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #000;
}

.icono {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 180vh;
    position: absolute;
}

.icono-user {
    font-size: 30px;
    margin-top: 20px;
    position: absolute;
    margin-left: 50px;
}

.select-filtro {
    position: relative;
    left: 33%;
    width: 30%;
    margin-top: 40px;
}