.input-busqueda{
    border-top-right-radius: 0% !important;
    border-bottom-right-radius: 0% !important;
}
.input-busqueda:focus{
    outline: none;
    box-shadow: none;
    border: 1px solid #000;
}

.icono {
    margin-top: 20px;
    font-size: 25px;
    margin-left: 180vh;
    position: absolute;
}

.icono-user {
    font-size: 30px;
    margin-top: 20px;
    position: absolute;
    margin-left: 50px;
}

.select-filtro {
    position: relative;
    left: 33%;
    width: 30%;
    margin-top: 40px;
}

/* Titulo del navbar */
.titulo-navbar{
    color: #002d85 !important;
}

.enlaces-navbar {
    color: #000;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    position: relative;
  }

.enlaces-navbar::after {
    content: '';
    width: 0;
    height: 2px;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -2px;
    transition: width 0.3s ease;
  }
.enlaces-navbar:hover::after {
    width:100%;
}
.contenedor-enlaces{
    text-align: center;
    justify-content: center;
    margin-top: 40px;
    display: flex;
    gap: 30px;

}