/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FFBE2D;
}

/* Estilos de los iconos */
.navbar-icon {
    color: #002d85;
    font-size: 1.5rem;
    margin: 0 10px;
}

.user-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iniciar-sesion {
    font-size: 0.9rem;
    margin-top: 5px;
    position: relative;
}

.session-link {
    color: #002d85;
    text-decoration: none;
    position: relative;
}
.session-link:hover {
    color: #FFBE2D;
}

.dropdown-item {
    padding: 10px 15px;
    color: #FFBE2D;
    text-decoration: none;
    display: block;
    font-size: 14px;
}

.dropdown-item:hover {
    background-color: #FFBE2D;
    color: #002d85;
}

/* Muestra el menú desplegable al hacer hover */
.category-item:hover .dropdown-menu {
    display: block;
}

/* Titulo de la página */
.titulo-liberty {
    position: relative;
    text-align: center;
    margin-left: -25%;
    color: #002d85;
}

/* Responsividad */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .navbar-icon {
        font-size: 1.2rem;
        margin: 5px 0;
    }

    .titulo-liberty {
        margin-left: 0;
        font-size: 1.5rem;
        text-align: center;
        width: 100%;
    }

    .user-icon {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .session-link {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px;
    }

    .navbar-icon {
        font-size: 1rem;
        margin: 3px 0;
    }

    .titulo-liberty {
        font-size: 1.2rem;
        margin-left: 0;
    }

    .dropdown-item {
        font-size: 12px;
        padding: 8px 10px;
    }

    .session-link {
        font-size: 0.7rem;
    }
}
